<!DOCTYPE html>
<html>
  <head>
    <title>Base</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/imports :: base-css}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="font-weight-light">Basic Application.</h2>
        </div>
      </div>
    </div>
    <th:block th:replace="~{fragments/imports :: base-javascript}"></th:block>
  </body>
</html>